body{
    background-color: black;

}
a{
    text-decoration: none;
    color: black;
} 
.header{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 50px;
    border-radius: 15px;
}
.logo{
    width:100%;
}
.opciones{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 15px;
}
.opciones a{
    color: grey;
    font-size: 25px;
}
.opciones a:hover {
    color: white;
}
.main{
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: -60px;
}
.op{
    border-right: royalblue 2px solid;
}
.footer{
    background-color: aliceblue;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    margin: auto;
    margin-top: 400px;
    border-radius: 15px;
    text-align: justify;
    font-size: 10px;
}
i{
    text-align: center;
    padding-top: 5px;
}
.deezer{
    width: 100px;
}
.artista{
    display: grid;
    grid-template-rows: 1fr 3.1fr 0.5fr;
}

.fondoSolo{
   font-size: 0px;
}
.degrade {
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 8.98%, rgba(0, 0, 0, 0) 100%);
    font-size: 0px;
}
.nombreA{
    color: white;
    font-family: arial;
    font-size: 30px;
    text-align: center;
}

.tipo {
    color: yellow;
    text-align: center;
    margin-top: -40px ;
    font-size: 20px;
}
.seguidoresA h5{
    color: grey;
    font-size: 20px;
    height: 30px;
    text-align: center;
    margin-top: -10px;
    
}

.linea {
    vertical-align: middle;
    display: table-cell;
}

.line {
    display: block;
    height: 1px;
    width: 700px;
    background-color:white;
    margin-top: -80px;
    margin-left: 300px;
}
.top5A {
   color: rgba(233, 229, 229, 0.897);
   font-size: 30px;
   margin-top: 80px;
   margin-left: 50px;
}

.top5A .cancion a {
    font-size: 25px;
    display: block;
    width: 80%;
    color: rgb(110, 114, 110);
    border-bottom: grey 1px solid;
    
}

.linea2 {
    vertical-align: middle;
    display: table-cell;
}

.line2 {
    display: block;
    height: 1px;
    width: 700px;
    background-color:white;
    margin-left: 300px;
    margin-top: 100px;
}
.albumesNombre{
    color: rgba(233, 229, 229, 0.897);
    font-size: 30px;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.albumes {
    display: flex;
    justify-content: space-around;
}
.albumes img{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.albumes h5 {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    color: rgb(238, 234, 234);
    justify-content: center;
}
@media(min-width:320px){
    .header{
        height: 50px;
    }
    .logo{
        height: 60px;
        width: auto;
        margin: auto;
    }

}
@media(min-width:768px){
    .header{
        width: 70%;
        margin: auto;
    }
    .footer{
        width: 80%;
    }
    .buscador{
        width: 25%;
        margin-left: 70%;
    }
    .rankings{
        width: 70%;
        margin: auto;
    }
}
@media(min-width:1024px){
    .header{
        width: 50%;
    }
    .rankings{
        width: 50%;
        margin: auto;
    }
    
}