body{
    background-image: url(../img/fondoazul.jpg);
    background-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 10fr 1fr;
    height: 1600px;
}
.header{
    display: grid;
    grid-template-columns: 20% 80%;
    border-radius: 15px;
}
.logo{
    width:100%;
}
.opciones{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 15px;
}
.buscador{
    background-color: royalblue;
    display: grid;
    grid-template-columns: 30px auto;
    width: 43%;
    margin-left: 58%;
    margin-top: 50px;
    border-radius: 15px;
}
.op{
    border-right: royalblue 2px solid;
}
.main{
    background-color: rgb(15, 41, 65);
    height: 315px;
    margin-top: 50px;
    width: 100%;
    padding-top: 15px;
}

.rankings{
    width: 100%;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.tracks{
    display: grid;
    grid-template-rows: 3fr 10fr;
    gap: 5px;
}
.artists{
    display: grid;
    grid-template-rows: 3fr 10fr;
    gap: 5px;
}
.albums{
    display: grid;
    grid-template-rows: 3fr 10fr;
    gap: 5px;
}

ol{
    background-color: royalblue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    text-align: left;
    font-size: 25px;
    gap: 20px;

}
.songs{
    background-color: salmon;
    width: 100%;
    height: 75px;
    border-radius: 5px;
    text-align: left;
    font-size: 25px;
}


.disco{
    padding: 10px;
}
.disc{
    width: 100%;
    border-radius: 50%;
}
.titulo{
    position: relative;
    top: 140px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}


.footer{
    background-color: aliceblue;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    margin:auto;
    border-radius: 15px;
    text-align: justify;
    font-size: 10px;
    margin-bottom: 10px;
}
i{
    text-align: center;
    padding-top: 5px;
}
.search{
    margin-top: 12px;
}
.deezer{
    width: 100px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
}
  
.mySlides {
    display: none ;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.text{
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    top: 25px;
    width: 100%;
    text-align: center;
}
  
.numbertext {
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
  
.puntitos{
    position: relative;
    z-index: 10px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.efectos{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        height: 100%;
        position: relative;
        z-index: 5px;
}
.efecto{
    filter: invert(100%);
}
@media(min-width:320px){
    .header{
        height: 50px;
    }

    .logo{
        height: 60px;
        width: auto;
        margin: auto;
    }

}
@media(min-width:768px){
    .header{
        width: 70%;
        margin: auto;
    }
    
    .footer{
        width: 80%;
    }
    .buscador{
        width: 25%;
        margin-left: 70%;
    }
    .rankings{
        width: 70%;
        margin: auto;
    }
}
@media(min-width:1024px){
    .header{
        width: 50%;
    }
    .rankings{
        width: 50%;
        margin: auto;
    }
    
}