body{
    background-color: rgb(49, 42, 71);
}
a{
    text-decoration: none;
    color: black;
} 
.header{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 50px;
    border-radius: 15px;
}
.logo{
    width:100%;
}
.opciones{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 15px;
}
.main{
    background-color: rgb(15, 41, 65);
    margin-top: 50px;
    height: 600px;
    width: 100%;
}
.op{
    border-right: royalblue 2px solid;
}
.footer{
    background-color: aliceblue;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    text-align: justify;
    font-size: 10px;
}
i{
    text-align: center;
    padding-top: 5px;
}
.deezer{
    width: 100px;
}
@media(min-width:320px){
    .header{
        height: 50px;
    }
    .logo{
        height: 60px;
        width: auto;
        margin: auto;
    }

}
@media(min-width:768px){
    .header{
        width: 70%;
        margin: auto;
    }
    .footer{
        width: 80%;
    }
}
@media(min-width:1024px){
    .header{
        width: 50%;
    }
}
.fotoG {
    background-color: white;
    height: 200px;
    width: 200px;
    padding: 50px 50px 50px 50px;
    margin-top: 60px;
    margin-left: 120px;
    border-radius: 10px;
    position: relative;
}
.nombreG {
    color: white;
    font-family: arial;
    font-size: 100px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 550px;
    position: absolute;
}
.listadoG {
    background-color: rgb(89, 45, 131);
    width: 1320px;
    height: 600PX;
    margin-left: 50px;
    margin-top: 80px;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}