* {
    box-sizing: border-box;
    margin: 20px;
}
body{ 
    background-image: url(img/fondoazul.jpg);
    background-size: 100%;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
h1{ 
    color: seashell;
    text-align: center;
    text-size-adjust: 24;
    text-shadow: seashell;
    font-size: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 80px;
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.header{ 
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr ;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.primero{ 
    display: flex;
    background-image: url(img/fondosi.JPG);
    background-position: center;
    justify-content: center;
    color: whitesmoke;
    text-align: start;
    font-size: 25px;
    width: 300px;
    height: 300px;
    
}
.segundo{
    display: grid;
    margin: 30px;
    color:black;
    font-weight: bolder;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(img/latina.jpeg);
    width: 300px;
    height: 300px;
    display: flex;
    text-align: center;
    
 }
 .tercero{  
     display: grid;
     margin: 30px;
     background-image: url(img/fav.jpeg);
     color: cornsilk;
     font-size: 40px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     width: 300px;
     height: 300px;
     display: flex;
     text-align: center;
 }
 p.audio{ 
     display: grid;
     text-align: center;
     

 }
 