

.opciones{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: black;
}

.header{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    color: black;
    text-decoration-line: none;
    
}
.logo{
    width: 100%;
    height: auto;
    
}
a{
    text-decoration: none;
    color: black;
}
body{ 
    background-image: url(img/fondoazul.jpg);
    background-size: 100%;
<<<<<<< HEAD
    font-family: 'Josefin Sans', sans-serif; 
}
.op{
    border-right: royalblue 2px solid;
=======
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    
>>>>>>> d1bf61af45697b33eb7d77a6d7e2099dff266461
}
h1{ 
    color: seashell;
    text-align: center;
    align-content: center;
    text-size-adjust: 24;
    text-shadow: seashell;
    font-size: 50px;
}


.main{ 
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-bottom: auto;
    position: relative;
    
}
.primero{ 
    
    background-image: url(img/fondosi.JPG);
    background-position: center;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    width: 350px;
    height: 300px;
    margin: 30px;
    margin-bottom: auto;
    position: bottom relative;
    font-family: 'Josefin Sans', sans-serif;
    
}
.segundo{
    
    color:black;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(img/latina.jpeg);
    width: 350px;
    height: 300px;
    text-align: center;
    margin: 30px;
    
 }
 .tercero{  
     
     margin: 30px;
     background-image: url(img/fav.jpeg);
     color: cornsilk;
     font-size: 40px;
     font-family: 'Josefin Sans', sans-serif;
     width: 350px;
     height: 300px;
     text-align: center;
     
 }
 p.audio{ 
     
     text-align: center;
     

 }

.footer{
    background-color: aliceblue;
    display: grid;
    width: 100%;
    height: 10%;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    margin: auto;
    margin-top: 120px;
    border-radius: 15px;
    text-align: justify;
    font-size: 10px;
}
i{
    text-align: center;
    padding-top: 5px;
}
.search{
    margin-top: 5px;
}
.deezer{
    width: 100px;
}
@media(min-width:320px){
    .header{
        height: 50px;
    }
    .logo{
        height: 60px;
        width: auto;
        margin: auto;
    }

}
@media(min-width:768px){
    .header{
        width: 70%;
        margin: auto;
    }
    .footer{
        width: 80%;
    }
}
@media(min-width:1024px){
    .header{
        width: 50%;
    }
}